<!DOCTYPE html>
<html lang="ru" data-ng-app="TestACS">
<head>
	<meta charset="UTF-8">
	<title>Тестовое задание ACS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="public/css/styles.css" />
</head>
<body>
    <header>
        <div class="row">
            <h2>Тестовое задание для фронтенд-программиста</h2>
            <h4>Single-page приложение с навигацией по разделам.</h4>
            <hr>
        </div>
    </header>
    <div data-ng-view>
    </div>

    <!-- Что бы не поднимать сервер для статики все шаблоны вставил через тег script -->
    <script type="text/ng-template" id="testacs-index.html">
        <section>
            <div class="row">
                <div class="large-3 columns">
                    <nav>
                        <div class="panel custom-panel">
                            <ul class="side-nav">
                                <li><a href="#/faces">Лица</a></li>
                            </ul>
                        </div>
                        <div class="panel custom-panel">
                            <ul class="side-nav">
                                <li data-ng-repeat="nav in navigator">
                                    <a href="{{nav.url}}" ng-class="nav.class">{{nav.title | tinyname}}</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="large-9 columns">
                    <!-- В каждом контроллере есть метод setTemplate, устанавливающий шаблон в основной области -->
                    <div ng-include="setTemplate()"></div>
                </div>
            </div>
        </section>
    </script>
    <script type="text/ng-template" id="faceList.html">
        <h3>Список лиц</h3>
        <table class="people-list">
            <thead>
            <tr>
                <th class="large-10">ФИО</th>
                <th class="large-2">Дата рождения</th>
            </tr>
            </thead>
            <tbody>
            <!-- Функция linkTo осуществляет роутинг при нажатии на строку -->
            <tr data-ng-repeat="face in faces" data-ng-click="linkTo(face.id)" >
                <td>{{face.name}}</td>
                <td>{{face.birthday}}</td>
            </tr>
            </tbody>
        </table>
    </script>
    <script type="text/ng-template" id="face.html">
        <h3>Карточка лица</h3>
        <form action="">
            <div class="row">
                <div class="large-3 columns">
                    <label for="fio" class="inline">ФИО</label>
                </div>
                <div class="large-9 columns">
                    <input type="text" id="fio" value="{{model.name}}">
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label for="birthday" class="inline">Дата рождения</label>
                </div>
                <div class="large-3 columns left">
                    <input type="text" id="birthday" value="{{model.birthday}}">
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label for="address" class="inline">Адрес</label>
                </div>
                <div class="large-9 columns">
                    <input type="text" id="address" value="{{model.city}}">
                </div>
            </div>
            <h5>Паспортные данные</h5>
            <div class="row">
                <div class="large-2 columns"></div>
                <div class="large-10 columns">
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="passport-series" class="inline">Серия</label>
                        </div>
                        <div class="large-3 columns left">
                            <input type="text" id="passport-series" value="{{model.passport.series}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="passport-number" class="inline">Номер</label>
                        </div>
                        <div class="large-3 columns left">
                            <input type="text" id="passport-number" value="{{model.passport.number}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="passport-date" class="inline">Дата выдачи</label>
                        </div>
                        <div class="large-3 columns left">
                            <input type="text" id="passport-date" value="{{model.passport.date}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script src="public/bundle.js"></script>
</body>
</html>
