@import "../../node_modules/zurb-foundation-5/scss/normalize";
@import "../../node_modules/zurb-foundation-5/scss/foundation";

.custom-panel {
  padding:0;

  li {
    padding-left:0.3475rem;

    .active {
      text-decoration: underline;
    }
  }
}

.people-list {
  width: 100%;

  tbody tr:hover {
    background: #F1F1F1;
  }
}
